page-sub-categories {
    .page-home{
        .img-circle {
            //border-radius: 50%; 
            //background: yellow;
            border: 1px dashed gray;
        }
        .recent-module{
            padding-left: 10px;
            
            .slides{
                .swiper-slide:first-child{
                    margin-left: 0 !important;
                }
                .swiper-slide{
                    padding-right:10px;
                }
            }
        } 
        .span{
            font-size: 1rem ;
        }
        // .white_bg{
        //     background-color: #fff;
        // }
        .container_panel{
            margin-left: 3%;
            margin-right: 3%;
        }
        .border_right{ 
            border-right: solid;
            border-color : gray;
            border-width:0.1px;
        }
        
        .border_bottom{ 
            border-bottom: solid;
            border-color: gray;
            border-width:0.1px;
        }
        .grid_category{
            padding: 0;
            .col:nth-child(2n + 1){
                padding-left: 0.5px;
            }
            .col{
                padding-top: 0;
                padding-left:0;
                padding-right:0;
                padding-bottom: 1px;
                
                .card {
                    display: table;
                    background-size: cover;
                    background-position: center;
                    background-color:white;
                    width: calc(100% - 1px);
                    border-radius: 0;
                    position: relative;
                    text-align: center;
                    margin-left: 0;
                    margin-right: 0;
                    margin-bottom: 0;
                    margin-top:0;
                    height: 100px;
    
                    .categories-title {
                        display: table-cell;
                        vertical-align: middle;
                        z-index: 9;
                        position: relative;
                        h2{
                            font-size: 1.2em;
                            font-weight: bold;
                            color: #fff;
                            text-transform: uppercase;
    
                            small{
                                font-weight: normal;
                            }
                        } 
                        h4{
                            //font-size: 1.2em;
                            font-weight: bold;
                            color: #fff;
                            text-transform: uppercase;
    
                            small{
                                font-weight: normal;
                            }
                        }
                    }
                }
                .card::before{
                    content: "";
                    background-color: $black;
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0.70;
                }
            }
        }
        .module{
            .slides{
                .swiper-slide:first-child{
                    margin-left: 10px;
                }
                .swiper-slide{
                    .slide-zoom{
                        margin-top: 10px;
                        margin-bottom: 10px;
                        text-align: initial;
                        product{
                            display: block;
                        }
                    }
                }
                .swiper-slide-last{
                    padding-top: 15%;
                    .slide-zoom{
                        
                        .card{
                            
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: calc(100% - 0px);
                            margin-right: 0 !important;
                            margin-left: 0 !important;
                            margin-top: 0 !important;
                            margin-bottom: 0 !important;
                            box-shadow: none;
                            .icon{
                                color: color($colors, accent-color);
                                font-size:50px;
                            }
                        }
                    }
                }
            }
            h5{
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 0;
            }
        }
    }
    .animate-product {
        animation: bounceInRight 0.75s;
    }

}
