<ion-header>
    
    <ion-navbar>
      <ion-title>
        {{'Sub Categories'| translate }}
      </ion-title>
  
      <ion-buttons end>
        <button ion-button icon-only (click)="openSearch()">
          <ion-icon name="search"></ion-icon>
        </button>
        <button ion-button icon-only class="cart-button" (click)="openCart()">
          <ion-icon name="cart">
            <ion-badge color="secondary">{{shared.cartquantity}}</ion-badge>
          </ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content class="page-home" (ionScroll)="onScroll($event)">  
  
    <div class="white_bg container_panel"> 
        <ion-card-content no-padding> 
      <ion-title text-center><br/>
          <img src="assets/sub_categories.png" alt="logo">
        </ion-title>
            <ion-grid class="grid_category">
                <ion-row>
                  <ion-col col-3 *ngFor="let c of subcategories" (click)="openProducts(c.id)"  class="animated flipInX">
                    <!-- <ion-card class="white_bg" *ngIf="c.image" [ngStyle]="{ 'background-image': 'url(' + c.image.src + ')'}">
                      <div class="categories-title">
                        <h4><div [innerHTML]="c.name"></div> 
                          <small>{{c.count}} {{'Products'| translate }}</small>
                        </h4>
                      </div>
                    </ion-card> -->
                    <ion-thumbnail item-start text-center>
                    <img  *ngIf="c.image" src="{{ c.image.src}}"  class="img-circle" style="width:95%;height: 70px;">
                  </ion-thumbnail>
                    <span text-center class="span">
                        <b><div class="line-clamp"  [innerHTML]="c.name"></div></b>
                      </span> 
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-card-content> 
        </div> 
     <br/>
  <div class="white_bg container_panel" >
      <ion-card-content no-padding> 
          <ion-title text-center>
              <img src="assets/explore_products.png" alt="logo">
            </ion-title> 
  <sliding-tabs [selecteds]="parent"></sliding-tabs>
  </ion-card-content>
  </div>
  <ion-fab bottom right *ngIf="scrollTopButton">
      <button ion-fab (click)="scrollToTop()">
        <ion-icon name="arrow-round-up"></ion-icon>
      </button>
    </ion-fab>
  
  </ion-content>
  <ion-footer *ngIf="config.footerShowHide=='1'">
    <footer></footer>
  </ion-footer>