<div *ngIf="type!='image'">

  <ion-slides slidesPerView="auto" dir="{{shared.dir}}" id="slides" *ngIf="selecteds==undefined">
    <ion-slide class="swiper-slide-lg" [class.selected]="selected==''" *ngIf="shared.categories!=null" (click)="changeTab('')">
      <ion-icon name="ionic"></ion-icon>
      <h3>{{'All'|translate}}</h3>
    </ion-slide>
    <ion-slide class="swiper-slide-lg" [class.selected]="selected==c.id" *ngFor="let c of shared.categories" (click)="changeTab(c)">
      <h2 text-center>
        <img *ngIf="c.image" src="{{c.image.src}}">
      </h2>
      <h3 [innerHTML]="c.name"></h3>
    </ion-slide>
  </ion-slides>

</div>

<div *ngIf="type=='image'">
  <ion-slides slidesPerView="auto" dir="{{shared.dir}}">
    <ion-slide [class.selected]="selected==''" *ngIf="shared.categories!=null" (click)="changeTab('')">
      {{'All'|translate}}
    </ion-slide>
    <ion-slide [class.selected]="selected==c.id" *ngFor="let c of shared.categories" (click)="changeTab(c)">
      {{c.name}}
    </ion-slide>
  </ion-slides>

</div>

<ion-grid  no-padding>
  <ion-col *ngFor="let p of products" col-6 no-padding> 
    <product [data]="p" [type]="'normal'"></product>
  </ion-col>

  <ion-col *ngIf="products.length==0 && loadingServerData" col-12 class="animated fadeIn">
    <h6 text-center>{{'No Products Found!'|translate}}</h6>
  </ion-col>
</ion-grid>

<ion-infinite-scroll #infinite (ionInfinite)="getProducts($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>