<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title text-center>
      <img src="assets/logo_header.png" alt="logo">
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only class="cart-button" (click)="openCart()">
        <ion-icon name="cart">
          <ion-badge color="secondary">{{shared.cartquantity}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons> 
  </ion-navbar>

</ion-header>

<ion-content class="page-home" (ionScroll)="onScroll($event)">
<div style="background-color: #047509;color: white"  text-center>Your Location : {{userCurrentLocation}}</div>
  <!-- top banners -->
  <banners></banners>

  <ion-title>
    <ion-card class="white_bg"> 
      <ion-card-content>
        
           <h4>Same day delivery if ordered before 7 P.M.
          <br> 
          <strong>Free delivery above order on Rs. 200</strong></h4> 
      </ion-card-content>
    </ion-card>
  </ion-title>

  <div class="white_bg container_panel"> 
      <ion-card-content no-padding> 
    <ion-title text-center>
        <img src="assets/categories.png" alt="logo">
      </ion-title>
          <ion-grid class="grid_category">
              <ion-row>
                <ion-col col-4 *ngFor="let c of shared.categories" (click)="openSubCategories(c.id)" class="animated flipInX">
                  <!-- <ion-card class="white_bg" *ngIf="c.image" [ngStyle]="{ 'background-image': 'url(' + c.image.src + ')'}">
                    <div class="categories-title">
                      <h4><div [innerHTML]="c.name"></div> 
                        <small>{{c.count}} {{'Products'| translate }}</small>
                      </h4>
                    </div>
                  </ion-card> -->
                  <ion-thumbnail item-start text-center>
                  <img  *ngIf="c.image" src="{{ c.image.src}}" class="img-circle" style="width:95%;height: 70px;">
                </ion-thumbnail>
                  <span text-center class="span">
                     <b> <div class="line-clamp"  [innerHTML]="c.name"></div></b>
                    </span> 
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-card-content> 
      </div> 
  <!-- top Segments  --> 
  <ion-card class="white_bg"> 
  <ion-segment [(ngModel)]="segments" color="primary">
    <ion-segment-button value="topSeller">{{ 'Latest' | translate }}</ion-segment-button>
    <ion-segment-button value="deals">{{ 'On Sale' | translate }} </ion-segment-button>
    <ion-segment-button value="mostLiked"> {{ 'Featured' | translate }}</ion-segment-button>
  </ion-segment> 
  <!-- top segments products -->
  <div class="module" [ngSwitch]="segments">
    <ion-slides slidesPerView=2.2 spaceBetween=10 *ngSwitchCase="'topSeller'" class="animate-product white_bg" dir="{{shared.dir}}">
      <ion-slide  class="white_bg"  *ngFor="let p of shared.tab1">
        <product [data]="p" [type]="'normal'"></product>
      </ion-slide>
      <ion-slide class="swiper-slide-last">
        <ion-card (click)="openProducts('latest')">
          <ion-card-content>
            <ion-icon name="checkmark-circle"></ion-icon>
            <h4>{{ 'View All' | translate }}</h4>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
 
    <ion-slides slidesPerView=2.2 spaceBetween=10 *ngSwitchCase="'deals'" dir="{{shared.dir}}" class="animate-product white_bg">
      <ion-slide *ngFor="let p of shared.tab2">
        <product [data]="p" [type]="'normal'"></product>
      </ion-slide>
      <ion-slide class="swiper-slide-last">
        <ion-card (click)="openProducts('sale')">
          <ion-card-content>
            <ion-icon name="checkmark-circle"></ion-icon>
            <h4>{{ 'View All' | translate }}</h4>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-slides slidesPerView=2.2 spaceBetween=10 *ngSwitchCase="'mostLiked'" dir="{{shared.dir}}" class="animate-product white_bg">
      <ion-slide *ngFor="let p of shared.tab3">
        <product [data]="p" [type]="'normal'"></product>
      </ion-slide>
      <ion-slide class="swiper-slide-last">
        <ion-card (click)="openProducts('featured')">
          <ion-card-content>
            <ion-icon name="checkmark-circle"></ion-icon>
            <h4>{{ 'View All' | translate }}</h4>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>

  </div>
</ion-card> 
  <!-- Recent Viewed items products -->
  <div class="white_bg container_panel" *ngIf="shared.recentViewedProducts.length!=0" [@animate]> 
    <ion-card-content no-padding> 
  <div class="module recent-module" style="padding-left:0%">
      <ion-title text-center>
          <img src="assets/recently_viewed.png" alt="logo">
        </ion-title>
    <ion-slides slidesPerView=2.2 spaceBetween=0 dir="{{shared.dir}}">
      <ion-slide *ngFor="let p of shared.recentViewedProducts" [@animate]>
        <product [data]="p" [type]="'recent'"></product>
      </ion-slide>
      <!-- <ion-slide class="swiper-slide-last"></ion-slide> -->
    </ion-slides>
  </div>
</ion-card-content> 
 
</div>
<div class="white_bg container_panel" >
    <ion-card-content no-padding> 
        <ion-title text-center>
            <img src="assets/explore_products.png" alt="logo">
          </ion-title>
<sliding-tabs></sliding-tabs>
</ion-card-content>
</div>
<ion-fab bottom right *ngIf="scrollTopButton">
    <button ion-fab (click)="scrollToTop()">
      <ion-icon name="arrow-round-up"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
<ion-footer *ngIf="config.footerShowHide=='1'">
  <footer></footer>
</ion-footer>