page-categories {
    .img-circle {
        // border-radius: 50%; 
         //background: yellow;
         border: 1px dashed gray;
         //box-shadow: 2px 2px 5px grey;

     }
    .grid{
        padding: 0;

        .col:nth-child(2n + 1){
            padding-left: 0.5px;
        }
        .container_panel{
            margin-left: 3%;
            margin-right: 3%;
        }
        .border_right{ 
            border-right: solid;
            border-color : gray;
            border-width:0.1px;
        }
        
        .border_bottom{ 
            border-bottom: solid;
            border-color: gray;
            border-width:0.1px;
        }
        .col{
            padding-top: 0;
            padding-left:0;
            padding-right:0;
            padding-bottom: 1px;
            
            .card {
                display: table;
                background-size: cover;
                background-position: center;
                width: calc(100% - 1px);
                border-radius: 0;
                position: relative;
                text-align: center;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-top:0;
                height: 150px;

                .categories-title {
                    display: table-cell;
                    vertical-align: middle;
                    z-index: 9;
                    position: relative;
                    h2{
                        font-size: 1.2em;
                        font-weight: bold;
                        color: #fff;
                        text-transform: uppercase;

                        small{
                            font-weight: normal;
                        }
                    }
                }
            }
            .card::before{
                content: "";
                background-color: $black;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                opacity: 0.70;
            }
        }
    }
}
