<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      {{'Categories'| translate }}
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only class="cart-button" (click)="openCart()">
        <ion-icon name="cart">
          <ion-badge color="secondary">{{shared.cartquantity}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>

  <!-- <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let c of shared.categories" (click)="openSubCategories(c.id)" class="animated flipInX">
        <ion-card *ngIf="c.image" [ngStyle]="{ 'background-image': 'url(' + c.image.src + ')'}">
          <div class="categories-title">
            <h2><div [innerHTML]="c.name"></div> 
              <small>{{c.count}} {{'Products'| translate }}</small>
            </h2>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-grid class="grid_category white_bg ">
      <ion-row>
        <ion-col col-6 *ngFor="let c of shared.categories" (click)="openSubCategories(c.id)" class="animated flipInX">
          <!-- <ion-card class="white_bg" *ngIf="c.image" [ngStyle]="{ 'background-image': 'url(' + c.image.src + ')'}">
            <div class="categories-title">
              <h4><div [innerHTML]="c.name"></div> 
                <small>{{c.count}} {{'Products'| translate }}</small>
              </h4>
            </div>
          </ion-card> -->
          <ion-thumbnail item-start text-center>
          <img  *ngIf="c.image" src="{{ c.image.src}}"  class="img-circle" style="width:95%;height: 70px;">
        </ion-thumbnail>
          <span text-center class="span">
              <b><div class="line-clamp"  [innerHTML]="c.name"></div></b>
            </span> 
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
<ion-footer *ngIf="config.footerShowHide=='1'">
  <footer></footer>
</ion-footer>