product{
    .list-price-normal-through{
        font-size: 13px;
        font-weight: 600;
        color:darken(color($colors, light), 50%);
        text-decoration: line-through;
        margin-right: 5px;
    }
    .white_bg{
        background-color: #fff;
    } 
    .card{
        background-color:$white;
        width:calc(100% - 0px);
        margin-right: 0 !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        position: relative;
        
        .card-thumb{
            position: relative;
			padding-bottom: 60%;
			padding-top: 10px;
			height: 0;
            overflow:hidden;
           // background-color: rgb(236,236,236);
            .image{
                position: absolute;                
                left: 50%;
                top: 0;
                height: 100%;
                width: auto;
                transform: translateX(-50%);
            }
            .card-tag-new{
                background-image: url(../assets/badge_new.png);
                background-size: cover;
                position: absolute;
                top: 0;
                left: 0;
                height:40px;
                width: 40px;
                display: block;
                z-index: 1;
                
            }
            // update 2.1
            .card-tags{
                font-size: 11px;
                font-weight: 600;
                color: $white;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 9;
                text-align: right;
                text-transform: uppercase;
                
                .card-tag-off{
                    background-color: cornflowerblue;
                    padding: 3px 5px 2px 5px;
                    margin-bottom: 4px;
                    display: inline-block;
                }
                .card-tag-featured{             
                    background-color:cornflowerblue;
                    padding: 3px 5px 2px 5px;
                }
                .card-tag-save-rs{
                    background-color: red;
                    padding: 3px 5px 2px 5px;
                    margin-bottom: 4px;
                    display: inline-block;
                }
            }//
        }
        
        
        .card-content{
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            
            .card-title{
                padding-left: 2px;
                padding-top: 0;
                padding-bottom: 0;
                margin-top: 0;
                margin-bottom: 5px;
                text-align: left;
    
                .line-clamp {
                    font-size: 15px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin-top: 5px;
                    // display: -webkit-box;
                    // -webkit-line-clamp: 2;
                    // -webkit-box-orient: vertical;  
                }
            }
            .card-attr{

                .col{
                    // height: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-bottom: 0;
                    padding-left: 0;
                    padding-right: 0;
    
                    .card-price-normal{
                        font-size: 15px;
                        font-weight: 700;
                        color: color($colors, primary);
                    }
                    .card-price-normal-through{
                        font-size: 13px;
                        font-weight: 600;
                        color:darken(color($colors, light), 50%);
                        text-decoration: line-through;
                    }
                    .icon{
                        font-size: 22px;
                        color: darken(color($colors, light), 30%);
                    }
                }
              

                h4{
                    display: flex;
                    align-items: center;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-left: 2px;
                    
                    del{
                        .woocommerce-Price-amount{
                            display: block;
                            font-size: 13px;
                            color:darken(color($colors, light), 50%);
                            text-decoration: line-through; 
                        }
                    }
                    ins{
                        text-decoration: none;
                        .woocommerce-Price-amount{
                            display: block;
                            font-size: 13px;
                            font-weight: 600;
                            margin-left: 5px;
                        }
                    }
                    .woocommerce-Price-amount{
                        display: block;
                        font-size: 13px;
                        font-weight: 600;
                    }
                }
            }
        }
        ion-buttons {
            margin:0.6rem;
        }
        ion-buttons.bar-buttons-remove{
            z-index: 101;
            position: relative;
        }
        .card-add-cart{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 9;

            &:before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 110%;
                height: 102%;
                background-color: $black;
                opacity: 0.60;
            }
            .icon{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 50px;
                color: color($colors, light);
                z-index: 10;
            }
        }
    }
    .list-add-cart{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $black;
            opacity: 0.60;
        }
        .icon{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            color: color($colors, light);
            z-index: 999;
        }

    }
}

.list{
    product{
        .item{
            background-color: $white;
            margin-bottom: 5px !important;
            padding-left: 0;

            // update code 2.1
            .list-tags{
                font-size: 11px;
                font-weight: 600;
                color: $white;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 9;
                text-align: right;
                text-transform: uppercase;
                
                .list-tag-off{
                    background-color: cornflowerblue;
                    display: inline-block;
                    margin-bottom: 4px;
                    padding: 3px 5px 2px 5px;
                }
                .list-tag-featured{             
                    background-color:cornflowerblue;
                    padding: 3px 5px 2px 5px;
                }
            } //

            ion-thumbnail{
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                
                .list-tag-new{
                    background-image: url(../assets/badge_new.png);
                    position: absolute;
                    top: 0;
                    left: 0;
                    height:40px;
                    width: 40px;
                    display: block;
                    z-index: 1;
                    background-size: cover;
                }
                img{
                    height: 110px;
                    width: 110px;
                }
            }
            .item-inner{
                border-bottom-width: 0;
                .label{
                    margin-top: 0;
                    margin-bottom: 0;
                    h2{
                        padding-right: 30px;
                        overflow: hidden;
                        height: 34px;
                        font-size: 15px;
    
                        white-space: normal;
                        .line-clamp{
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                    }
                    .list-price-block{
                        margin-bottom: 0;
                        //height: 50px;
    
                        .list-price-normal{
                            font-size: 15px;
                            font-weight: 600;
                            color: color($colors, primary);
                        }
                        .list-price-normal-through{
                            font-size: 13px;
                            font-weight: 600;
                            color:darken(color($colors, light), 50%);
                            text-decoration: line-through;
                            margin-right: 5px;
                        }
                        h4{
                            display: flex;
                            align-items: center;
                            margin-top: 0;
                            margin-bottom: 0;
                            padding-left: 2px;
                            
                            del{
                                .woocommerce-Price-amount{
                                    display: block;
                                    font-size: 13px;
                                    color:darken(color($colors, light), 50%);
                                    text-decoration: line-through; 
                                }
                            }
                            ins{
                                text-decoration: none;
                                .woocommerce-Price-amount{
                                    display: block;
                                    font-size: 13px;
                                    font-weight: 600;
                                    margin-left: 5px;
                                }
                            }
                            .woocommerce-Price-amount{
                                display: block;
                                font-size: 13px;
                                font-weight: 600;
                                margin-right: 5px;
                            }
                        }
                    }
                    .row{
                        .col{
                            padding-left: 0;
                            padding-top: 0;
                            padding-bottom: 0;
                            padding-right: 0;
                        }
                        .col:last-child{
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

.woo-price-group{
    padding-top: 10px;

    .woocommerce-Price-amount{
        font-size: 20px;
        font-weight: 600;
        color: color($colors, dark);
    }

    

    .product-instock, .product-outstock{
        float: right;
        padding-top: 5px;
    }
    .product-instock{
        color:darken(color($colors, light), 50%);
    }
    .product-outstock{
        color: color($colors, danger);
    }
}