// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/

$app-direction: multi;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$h2-font-size: 18px;
$content-padding: 10px;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary-dark:   #047509,
  primary:        black,
  primary-light:  #81dcf3,

  secondary-dark: #2a5235,
  secondary:      #557f5f,
  secondary-light:#83af8c,

  accent-color:   #dddddd,

  google:         #dd4b39,
  facebook:       #3b5998,

  danger:         #f53d3d,
  light:          #f4f4f4,
  dark:           #222,
  orange:         #ff8c00,
  pink:           #ee097b
);

$background-color:darken(color($colors, light), 0.2%);
$toolbar-background:color($colors, primary-dark);
$text-color:color($colors, dark);

//$toolbar-background: blue;
$icon-color-text:color($colors, accent-color);

$white:  #ffffff;
$black: #000000;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$button-ios-height : 30px;
$item-ios-padding-left: 10px;
$item-ios-padding-right: 10px;
$item-ios-padding-top: 10px;
$item-ios-padding-bottom: 10px;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


$button-md-height: 30px;
$item-md-padding-left: 10px;
$item-md-padding-right: 10px;
$item-md-padding-top: 10px;
$item-md-padding-bottom: 10px;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here


$button-wp-height: 30px;
$item-wp-padding-left: 10px;
$item-wp-padding-right: 10px;
$item-wp-padding-top: 10px;
$item-wp-padding-bottom: 10px;  
// @font-face {
//   font-family: 'font';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../assets/fonts/Lobster-Regular.ttf');
// }

// $font-family-base: "font" !default;
// body{
// font-family: "font" !important;
// }

// h1, h2, button {
// font-family: "font" !important;
// }

// $font-family-md-base: "font";
// $font-family-ios-base: "font";
// $font-family-wp-base: "font";


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
