// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.button.button-md, .bar-button.bar-button-md{
    .button-inner{
        height: 100%;
    }
}

.toolbar{
    .bar-buttons{
        .cart-button{
            position: relative;
            width: 42px;
            top:1px;
            right: 1px;
            overflow: visible !important;
            .icon{
                .badge{
                    background-color: color($colors, secondary-light);
                    position: absolute;
                    top: -3px;
                    right: -5px;
                }
            }
        }
    }
    .toolbar-title{
        img{
            width: 150px;
            margin-top: 6px;
        }
    }
}

.form{
    .list {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        .item {
            //background-color:$white;
        }
    }
}

.form-secondary{
    @extend.form;
    .list{
        .item {
            background-color:transparent;
        }
    } 
}

.page-empty{
    height: 100%;
    .row{
        height: 100%;
        .icon{
            color:darken(color($colors, light), 20%);
            font-size:80px;
        }
        h4{
            font-size: 17px;
            margin-top: 10px;
            margin-bottom: 0;
        }

        h5{
            color:darken(color($colors, light), 40%);
            font-size: 15px;
            margin-top: 5px;
            margin-bottom: 0;
        }
    }
}

.white_bg{
    background-color: #fff;
}
//--------- side menu scss -----
.side-menu{
    .list-avatar{
        margin-bottom: 0;
        .item:after {
            content: "";
            background: url(../assets/icons_stripe.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            opacity: 0.10;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;   
          }
        .item{
            background-color:color($colors, primary);      
            height: 80px;

            ion-avatar{
                .icon{
                    color:color($colors, light);
                    font-size: 50px;
                    margin-top: -5px;
                }
            }
            h2{
                font-size: 18px;
                font-weight: bold;
                color: $white;
            }
            p{
                color: $white;
                white-space: normal;
                font-size: 14px;
                margin-top: 5px;
            }
            button{
                //color:color($colors, light);
            }
        }
    }
    .list-menu{

        .item{
            border-bottom: 1px solid #dedede;
            background-color: $white;
            .item-inner{
                border-bottom: none;
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
    .animate-item {
        animation: flipInX 0.75s;
    }
}
.animation-in {
    animation: fadeIn 1s;
}
.animation-out {
    animation: fadeOut 1s;
}


html[dir="rtl"]{
    .module{
        .slides{
            .swiper-slide:first-child{
                margin-right: 10px;
            }
            .swiper-slide-last {
                padding-top: 3% !important;
            }
        }
    }
    .range-md [range-right] {
        margin: 0 0 0 12px !important;
    }
    .range-md [range-left] {
        margin: 0 12px 0 0 !important;
    }
    .text-input, .searchbar-input{
        direction: rtl;
    }
    .product-detail-header [col-4] {
        text-align: left !important;
    }
    page-product-detail{
        .product-rating{
            h6{
                margin-left: 0;
                margin-right: 15px;
            }
            .stars-outer{
                .stars-inner{
                    left: auto;
                    right: 0;
                }
            }
        }
    }

    page-login .page-login .grid-b .col .button .icon{
      margin-left: 0;
      margin-right: 5px;  
    }
    page-reviews{
        .rating-page {
            .rating-gird ul{
                border-left: none;
                border-right: 1px solid #ccc;

                li{
                    

                    .block{
                        margin-left: 0;
                        margin-right: 5px;                    
                    }
                    &::before{
                        left: auto;
                        right: 28px;;
                    }
                }
            }
            .rating-users{
                .item {
                    .product-rating{
                        padding-right: 0;
                        .stars-outer .stars-inner {
                            left:auto;
                            right: 0;
                        }
                        li h6 {
                            margin-left: 0;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}
