<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ 'Menu' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="side-menu">

    <ion-list class="list-avatar">
      <ion-item *ngIf="shared.customerData.id==null" (click)="openLoginPage()">
        <ion-avatar item-start>
          <ion-icon name="contact"></ion-icon>
        </ion-avatar>
        <h2>{{ 'Login & Register' | translate }}</h2>
        <p>{{ 'Please login or create an account for free' | translate }}</p>
      </ion-item>

      <ion-item *ngIf="shared.customerData.id!=null" menuClose (click)="openPage('settings')">
        <ion-avatar item-start>
          <img src="{{shared.customerData.avatar_url}}">
        </ion-avatar>
        <h2>{{shared.customerData.first_name +"&nbsp;"+shared.customerData.last_name}}</h2>
        <p>{{shared.customerData.email}}</p>
      </ion-item>
    </ion-list>


    <ion-list class="list-menu">

      <button menuClose ion-item (click)="openPage('home')">{{ 'Home' | translate }}
        <ion-icon item-left name="home"></ion-icon>
      </button>
      <button menuClose ion-item (click)="openPage('categories')">{{ 'Categories' | translate }}
        <ion-icon item-left name="apps"></ion-icon>
      </button>
      <button menuClose ion-item (click)="openPage('latest')">{{ 'Shop' | translate }}
        <ion-icon item-left name="cash"></ion-icon>
      </button>

      <button menuClose ion-item *ngIf="config.wishListPage==1" (click)="openPage('myWishList')">{{ 'My Wish List' | translate }}
        <ion-icon item-left name="heart"></ion-icon>
      </button>
      <button menuClose ion-item *ngIf="shared.customerData.id!=null && config.editProfilePage==1" (click)="openPage('myAccount')">{{ 'Edit Profile' | translate }}
        <ion-icon item-left name="lock"></ion-icon>
      </button>
      <button menuClose ion-item *ngIf="shared.customerData.id!=null && config.myOrdersPage==1" (click)="openPage('myOrders')">{{ 'My Orders' | translate }}
        <ion-icon item-left name="cart"></ion-icon>
      </button>
      <button menuClose ion-item *ngIf="config.contactUsPage==1" (click)="openPage('contactUs')">{{ 'Contact Us' | translate }}
        <ion-icon item-left name="call"></ion-icon>
      </button>
      <button menuClose ion-item *ngIf="config.aboutUsPage==1" (click)="openPage('aboutUs')">{{ 'About Us' | translate }}
        <ion-icon item-left name="information-circle"></ion-icon>
      </button>
      <button menuClose ion-item *ngIf="config.newsPage==1" (click)="openPage('news')">{{ 'News' | translate }}
        <ion-icon item-left name="paper"></ion-icon>
      </button>
      <button menuClose ion-item *ngIf="config.introPage==1 && config.showIntroPage==1" (click)="openPage('intro')">{{ 'Intro' | translate }}
        <ion-icon item-left name="ionic"></ion-icon>
      </button>
      <button menuClose ion-item *ngIf="config.shareApp==1" (click)="share()">{{ 'Share' | translate }}
        <ion-icon item-left name="share"></ion-icon>
      </button>
      <button menuClose ion-item *ngIf="config.rateApp==1" (click)="rateUs()">{{ 'Rate Us' | translate }}
        <ion-icon item-left name="star-half"></ion-icon>
      </button>
      <button menuClose ion-item *ngIf="config.settingPage==1" (click)="openPage('settings')">{{ 'Settings' | translate }}
        <ion-icon item-left name="settings"></ion-icon>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" (click)="onClick()"></ion-nav>