<ion-header>
  <ion-navbar>
    <ion-title>
      {{'Billing Address'| translate }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form #loginForm="ngForm">
    <ion-row>
      <ion-col col-12>
        <ion-list>

          <ion-item>
              <ion-label stacked>{{'First Name'|translate}}</ion-label> 
            <ion-input type="text" placeholder="{{'First Name'|translate}}" name="billing_firstname" [(ngModel)]="shared.billing.first_name"
              required></ion-input>
          </ion-item>

          <ion-item>
              <ion-label stacked>{{'Last Name'|translate}}</ion-label> 
            <ion-input type="text" placeholder="{{'Last Name'|translate}}" name="billing_lastname" [(ngModel)]="shared.billing.last_name"
              required></ion-input>
          </ion-item>
          <ion-item style="display:none" >
            <ion-input type="text" placeholder="{{'Compnay'|translate}}" name="company" [(ngModel)]="shared.billing.company" required></ion-input>
          </ion-item>
          <ion-item>
              <ion-label stacked>{{'Address'|translate}}1</ion-label> 
            <ion-input type="text" placeholder="{{'Address'|translate}} 1" name="address" [(ngModel)]="shared.billing.address_1" required></ion-input>
          </ion-item>
          <ion-item>
              <ion-label stacked>{{'Address'|translate}} 2</ion-label> 
            <ion-input type="text" placeholder="{{'Address'|translate}} 2" name="address2" [(ngModel)]="shared.billing.address_2"></ion-input>
          </ion-item>
          <ion-item style="display:none" >
            <ion-input type="text" placeholder="{{'Country'|translate}}" name="billing_country" (tap)="selectCountryPage()" [readonly]="true"
              [(ngModel)]="shared.billingCountryName" required></ion-input>
          </ion-item>

          <ion-item>
              <ion-label stacked>{{'State'|translate}}</ion-label> 
            <ion-input type="text" placeholder="{{'State'|translate}}" required name="billing_zone" (tap)="selectZonePage()" [readonly]="true"
              [(ngModel)]="shared.billingStateName"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label stacked>{{'City'|translate}}</ion-label> 
            <ion-input type="text" placeholder="{{'City'|translate}}" name="billing_city" [(ngModel)]="shared.billing.city" required></ion-input>
          </ion-item>
          <ion-item>
              <ion-label stacked>{{'Post code'|translate}}</ion-label> 
            <ion-input type="text" placeholder="{{'Post code'|translate}}" name="billing_postcode" [(ngModel)]="shared.billing.postcode"
              required></ion-input>
          </ion-item>
          <ion-item>
              <ion-label stacked>{{'Email'|translate}}</ion-label> 
            <ion-input type="email" placeholder="{{'Email'|translate}}" email name="billing_email" [(ngModel)]="shared.billing.email"
              required></ion-input>
          </ion-item>

          <ion-item>
              <ion-label stacked>{{'Phone'|translate}}</ion-label> 
            <ion-input type="tel" placeholder="{{'Phone'|translate}}" name="billing_phone" [(ngModel)]="shared.billing.phone" required></ion-input>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </form>
  <!-- 2.0 updates start -->
  <ion-item>
    <ion-label> {{'same as shipping address'|translate}}</ion-label>
    <ion-toggle item-start (ionChange)="setAddress(defaultAddress)" checked="false"></ion-toggle>
  </ion-item>
</ion-content>

<ion-footer>
  <button ion-button block color="pink" (click)="submit()" [disabled]="!loginForm.form.valid">{{'Next'|translate}}</button>
</ion-footer>