
<ion-segment color="primary" [(ngModel)]="segments">
    <ion-segment-button value="HomePage" (click)="openPage('HomePage')" style="color:green"><ion-icon name="home"></ion-icon></ion-segment-button>
    <ion-segment-button value="CategoriesPage" (click)="openPage('CategoriesPage')" style="color:green"><ion-icon name="apps"></ion-icon> </ion-segment-button><!-- {{ 'Categories' | translate }} -->
    <ion-segment-button value="ProductsPage" (click)="openPage('ProductsPage')" style="color:green"><ion-icon name="cash"></ion-icon> </ion-segment-button><!-- {{ 'Shop' | translate }} -->
    <ion-segment-button value="NewsPage" (click)="openPage('NewsPage')"  style="color:red"><ion-icon name="flame"></ion-icon></ion-segment-button><!-- {{ 'News' | translate }} -->
    <ion-segment-button value="SettingsPage" (click)="openPage('SettingsPage')" style="color:green"><ion-icon name="settings"></ion-icon> </ion-segment-button><!-- {{ 'Menu' | translate }} -->
  </ion-segment>

  