<ion-header>
  <ion-navbar>
    <ion-title>
      {{'Shipping Address'| translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #loginForm="ngForm">
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-item>
            <ion-label stacked>{{'First Name'|translate}}</ion-label>
            <ion-input type="text" placeholder="{{'First Name'|translate}}" name="shipping_firstname"
              [(ngModel)]="shared.shipping.first_name" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{'Last Name'|translate}}</ion-label>
            <ion-input type="text" placeholder="{{'Last Name'|translate}}" name="shipping_lastname"
              [(ngModel)]="shared.shipping.last_name" required></ion-input>
          </ion-item>
          <ion-item style="display:none">
            <ion-input type="text" placeholder="{{'Compnay'|translate}}" value="{{userCompany}}" name="company"
              [(ngModel)]="shared.shipping.company"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>{{'Address'|translate}} 1</ion-label>
            <ion-input type="text" placeholder="{{'Address'|translate}} 1" value="{{userAddressOne}}" name="address"
              [(ngModel)]="shared.shipping.address_1" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>{{'Address'|translate}} 2</ion-label>
            <ion-input type="text" placeholder="{{'Address'|translate}} 2" value="{{userAddressTwo}}" name="address2"
              [(ngModel)]="shared.shipping.address_2"></ion-input>
          </ion-item>
          <ion-item style="display:none">
            <ion-input type="text" placeholder="{{'Country'|translate}}" value="{{userCountry}}" name="shipping_country"
              [readonly]="true" [(ngModel)]="shared.shippingCountryName"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{'State'|translate}}</ion-label>
            <ion-input type="text" placeholder="{{'State'|translate}}" required value="{{userState}}"
              name="shipping_zone" [(ngModel)]="shared.shippingStateName"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{'City'|translate}}</ion-label>
            <ion-input type="text" placeholder="{{'City'|translate}}" name="shipping_city" value="{{userCity}}"
              [(ngModel)]="shared.shipping.city" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>{{'Post code'|translate}}</ion-label>
            <ion-input type="text" placeholder="{{'Post code'|translate}}" value="{{userPostalCode}}"
              name="shipping_postcode" [(ngModel)]="shared.shipping.postcode" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>{{'Email'|translate}}</ion-label>
            <ion-input type="email" placeholder="{{'Email'|translate}}" email name="billing_email"
              [(ngModel)]="shared.billing.email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>{{'Phone'|translate}}</ion-label>
            <ion-input type="tel" placeholder="{{'Phone'|translate}}" name="billing_phone"
              [(ngModel)]="shared.billing.phone" required></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-12>
        <label *ngIf="errorMessage!=''">
          <span>{{errorMessage}}</span>
        </label>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
<ion-footer>
  <button ion-button block color="pink" (click)="submit()"
    [disabled]="!loginForm.form.valid">{{'Next'|translate}}</button>
</ion-footer>